<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav-content">
    <!-- Sidenav content goes here -->
    <p>Sidenav Content</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Header Component with a button to open/close sidenav -->
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>

    <div class="body"> <!-- Classe para deixar o footer no fim da pagina -->

      <router-outlet> </router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer> </app-footer>