.body {
  min-height: calc(100vh - 124px);
}
.sidenav-container {
  height: calc(100vh - 60px);
  width: 100vw;
}

.sidenav-content {
  width: 250px; /* ajusta o  width da sidenav */
}

.main-content {
  padding: 20px;
}
