table {
  width: 100%;
}
.lista {
  padding: 50px 80px;
}

.h2 {
  border: 15px;
  background: rgb(238, 138, 138);
}
.w-33 {
  padding: 10px;
  background: black;
  border: 5px solid #d3aa5f;
  border-radius: 10px;
  color: #fff !important;
  font-weight: 520;
}
.w-33 > input {
  height: unset;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
